body {
  background: #4C0041; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #4C0041, #9C2C4E, #FF667F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #4C0041, #9C2C4E, #FF667F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #4C0041, #9C2C4E, #FF667F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #4C0041, #9C2C4E, #FF667F); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.logo {
  background-color: #eae4e1;
  background-size: cover;
  }

.menu_items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_items a {
  color: #eae4e1;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin: 0 50px 0 50px;
}

.menu_items a:hover {
  text-decoration: none;
}

/*
div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10em;
}

.work_transition, .about_transition, .contact_transition {
  display: inline;
}

.work_transition:after, .about_transition:after, .contact_transition:after {
  width: 0px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: .5s linear;
}

.work_transition:after {
  content: '';
}

.about_transition:after {
  content: '';
}

.contact_transition:after {
  content: '';
}

.work:hover .work_transition:after, .about:hover .about_transition:after, .contact:hover .contact_transition:after {
  width: 80px;
}
*/

















/***/
